@model StuManagement.Models.Event

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Activities" class="control-label"></label>
                <input asp-for="Activities" class="form-control" />
                <span asp-validation-for="Activities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Act" class="control-label"></label>
                <input asp-for="Act" class="form-control" />
                <span asp-validation-for="Act" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PowerExerted" class="control-label"></label>
                <input asp-for="PowerExerted" class="form-control" />
                <span asp-validation-for="PowerExerted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PowerDev" class="control-label"></label>
                <input asp-for="PowerDev" class="form-control" />
                <span asp-validation-for="PowerDev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Think" class="control-label"></label>
                <input asp-for="Think" class="form-control" />
                <span asp-validation-for="Think" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListEvents" class="control-label"></label>
                <select asp-for="ListEvents" class ="form-control" asp-items="ViewBag.ListEvents"></select>
            </div>
            <div class="form-group">
                <label asp-for="SchoolYear" class="control-label"></label>
                <input asp-for="SchoolYear" class="form-control" />
                <span asp-validation-for="SchoolYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
